@import "navbar.css";
@import "left-section.css";
@import "mid-section.css";
@import "right-section.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
:root {
    --dark-background-color:#18191a;
    --light-background-color:#f0f2f5;
    --white:#fff;
    --black:#000;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background-color: var(--dark-background-color);
  color: var(--white);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode {
  background-color: #18191a;
  color: #000;
}

/* Common Styles */

/* media queries */



@media screen and (max-width:1400px){
  html{
    font-size: 58%;
  }
}
@media screen and (max-width:1250px){
  html{
    font-size: 53%;
  }
}
@media screen and (max-width:1150px){
  html{
    font-size: 50%;
  }
}
@media screen and (max-width:1050px){
  html{
    font-size: 45%;
  }
}
@media screen and (max-width:1000px){
  html{
    font-size: 40%;
  }
}
@media screen and (max-width:900px){
  html{
    font-size: 30%;
  }
}
@media screen and (max-width:800px){
  html{
    font-size: 25%;
  }
}
@media screen and (max-width:700px){
  html{
    font-size: 20%;
  }
}
@media screen and (max-width:600px){
  html{
    font-size: 15%;
  }
}


@media screen and (min-width:1445px){
  html{
    font-size: 65%;
  }
}
@media screen and (min-width:1470px){
  html{
    font-size: 66%;
  }
}
@media screen and (min-width:1600px){
  html{
    font-size: 67%;
  }
}
@media screen and (min-width:1700px){
  html{
    font-size: 68%;
  }
}
@media screen and (min-width:1800px){
  html{
    font-size: 69%;
  }
}
@media screen and (min-width:1900px){
  html{
    font-size: 70%;
  }
}
@media screen and (min-width:2000px){
  html{
    font-size: 71%;
  }
}
@media screen and (min-width:2100px){
  html{
    font-size: 72%;
  }
}
